<div id="ticket">
  <header>
    <h1>
      <%= @project.name %>
    </h1>
  </header>

  <header>
    <h2>
      <%= @ticket.name %>
    </h2>
  </header>
  <div id="attributes">
    <section class="author">
      Author: <%= @ticket.author.email %>
    </section>
    <section class="created">
      Created at: <%= time_ago_in_words(@ticket.created_at) %>
    </section>
  </div>
  <% if policy(@ticket).update? %>
    <%= link_to "Edit Ticket", [:edit, @project, @ticket], class: "button safe" %>
  <% end %>
  <% if policy(@ticket).destroy? %>
    <%= link_to "Delete Ticket", [@project, @ticket],
        method: :delete, class: "delete button danger" %>
  <% end %>

  <div>
    <%= simple_format(@ticket.description) %>
  </div>

  <% if @ticket.attachments.any? %>
    <h4>Attachments</h4>
    <div class="attachments">
      <% @ticket.attachments.each do |attachment| %>
          <p>
          <%= link_to File.basename(attachment.file.url),
            attachment_path(attachment) %> (<%= number_to_human_size(attachment.file.size) %>)
          </p>
      <% end %>
    </div>
  <% end %>
</div>
