<div id="ticket">
  <header>
    <h1>
      <%= @project.name %>
    </h1>
  </header>

  <header>
    <h2>
      <%= @ticket.name %>
    </h2>
  </header>
  <div id="attributes">
    <section class="author">
      Author: <%= @ticket.author.email %>
    </section>
    <section class="created">
      Created at: <%= time_ago_in_words(@ticket.created_at) %>
    </section>
  </div>
  <%= link_to "Edit Ticket", [:edit, @project, @ticket], class: "button safe" %>
  <%= link_to "Delete Ticket", [@project, @ticket],
        method: :delete, class: "delete button danger" %>
  <div>
    <%= simple_format(@ticket.description) %>
  </div>
</div>
