<header class="project">
  <h1><%= link_to @project.name, @project %></h1>
</header>

<div id="ticket">
  <div class="meta">
    <div class="actions">
      <% if policy(@ticket).update? %>
        <%= link_to "Edit Ticket", [:edit, @project, @ticket], class: "button safe" %>
      <% end %>
      <% if policy(@ticket).destroy? %>
        <%= link_to "Delete Ticket", [@project, @ticket],
            method: :delete, class: "delete button danger" %>
      <% end %>
    </div>

    <section id="tags">
      <% if @ticket.tags.any? %>
        <%= render @ticket.tags, ticket: @ticket %>
      <% end %>
    </section>

  </div>

  <div class="details">
    <header>
      <h2><%= @ticket.name %></h2>
    </header>

    <div id="attributes">
      <section class="author">
        Author: <%= @ticket.author.email %>
      </section>
      <section class="created">
        Created at: <%= time_ago_in_words(@ticket.created_at) %>
      </section>

      <% if @ticket.state.present? %>
        <section>
          State: <%= render @ticket.state %>
        </section>
      <% end %>
    </div>

    <section id="watchers">
      <%= @ticket.watchers.map(&:email).to_sentence %>
      <%= toggle_watching_button(@ticket) %>
    </section>

    <div>
      <%= simple_format(@ticket.description) %>
    </div>

    <% if @ticket.attachments.any? %>
      <h4>Attachments</h4>
      <div class="attachments">
        <% @ticket.attachments.each do |attachment| %>
            <p>
            <%= link_to File.basename(attachment.file.url),
              attachment_path(attachment) %> (<%= number_to_human_size(attachment.file.size) %>)
            </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div id="comments">
  <header>
    <h3>Comments</h3>
  </header>

  <% if @ticket.comments.persisted.any? %>
    <%= render @ticket.comments.persisted %>
  <% else %>
    "There are no comments on this ticket"
  <% end %>
  <% if policy(@comment).create? %>
    <%= render "comments/form", ticket: @ticket, comment: @comment %>
  <% end %>
</div>
