<header>
  <h1>
    <%= @user %>
  </h1>
  <ul class="actions">
    <li>
      <%= link_to "Edit User", [:edit, :admin, @user] %>
      <%= link_to "Archive User", [:archive, :admin, @user],
                                  method: :patch %>
    </li>
  </ul>

  <% if @user.roles.any? %>
    <ul>
      <% @user.roles.each do |role| %>
        <li>
          <%= role.role.titleize %>: <%= role.project.name %>
        </li>
      <% end %>
    </ul>
    <% else %>
      <p>This user has no roles.</p>
  <% end %>
</header>
