<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
          <%= link_to "Tickets", root_path %>
        </li>
      </ul>
    </nav>
    <div class="navigation-tools user-info">
      <% if signed_in? %>
        <span class="nav-text"><%= current_user.email -%></span>
        <% admins_only do %>
          <%= link_to "Admin", admin_root_path, class: "button danger" %>
        <% end %>
        <%= link_to "Sign Out", sign_out_path, class: "button action", method: :delete %>
      <% else %>
        <%= link_to 'Sign In', sign_in_path, { class: "button action" } %>
      <% end %>
    </div>
  </div>
</header>
